{{- $url := urls.Parse .Destination -}}
{{- $scheme := $url.Scheme -}}
{{- $imgHost := site.Params.mediaHost | safeURL -}}
{{- $img := resources.GetRemote (print $imgHost (path.Join "/" .Page.File.Dir .Destination)) -}}
{{ $alt := .PlainText | safeHTML }}

{{if $img}}

  {{ $smallw := default "500x" }}
  {{ $mediumw := default "900x" }}
  {{ $largew := default "1500x" }}

  {{ $data := newScratch }}
  {{ $data.Set "small" ($img.Resize $smallw) }}
  {{ $data.Set "medium" ($img.Resize $mediumw) }}
  {{ $data.Set "large" ($img.Resize $largew) }}

  {{ $small := $data.Get "small" }}
  {{ $medium := $data.Get "medium" }}
  {{ $large := $data.Get "large" }}

  <picture>    
    <source media="(max-width: 600px)" 
        srcset="{{with $small.RelPermalink }}{{.}}{{ end }}">
    <source media="(max-width: 1200px)" 
        srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}">
    <source media="(min-width: 1201px)" 
        srcset="{{with $large.RelPermalink }}{{.}}{{ end }}">
    <img alt="{{ $alt }}" title="{{ $alt }}" src="{{ $img }}">
  </picture>
{{ end }}


{{- /* whitespace stripped here to avoid trailing newline in rendered result caused by file EOL */ -}}