@media (min-width: 1700px) {
    .container {
        width: 1560px;
    }
}

.light-mode {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.light-mode img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

body > div.container.light-mode > div > div > article > div.box > figure {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

.light-mode .gallery {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.body-light {
    background-color: #f0f0f0;
}

body {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 20px;
    color: #b9b9b9;
    position: relative;
    background-color: #212121;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

small {
    font-size: 10px;
}

p a {
    color: #0085a1;
}

a:hover {
    color: #0085a1;
}

.intro-header .page-heading {
    text-align: left;
}

.intro-header .page-heading h1 {
    margin-left: 13px;
    font-size: 40px;
}

.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #21212100;
    border-radius: 0px;
    border: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgb(0 0 0 / 5%);
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 5%);
    font-weight: 400;
    font-size: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px;
}

.navbar-custom {
    background: #12273c;
}

.navbar-custom {
    border-bottom: 1px solid #2b2b2b;
}

.navbar-custom .nav .navlinks-container .navlinks-children a {
    font-weight: bold;
    color: #5f5f5f;
}

.navbar-custom .navbar-brand, .navbar-custom .nav li a {
    font-weight: 700;
    color: #b9b9b9;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-custom .navbar-brand {
    font-weight: 800;
    color: #b9b9b9;
    opacity: 0;
    visibility: hidden;
    height: 0px;
    padding: 0px;
}

.navbar-custom.top-nav-short .navbar-brand {
    transition: visibility 0.5s, opacity 0.5s, padding 0.5s, height 0.5s ease-in-out;
    font-weight: 800;
    color: #b9b9b9;
    padding: 15px;
    opacity: 100;
    visibility: visible;
}

.navbar-brand-img-container .navbar-brand-img .avatar-img {
    transition: visibility 0.5s, opacity 0.5s, padding 0.5s, height 0.5s ease-in-out;
    width: 75px;
    border-radius: 3px;
    opacity: 100;
    visibility: visible;
}

.top-nav-short .navbar-brand-img-container .navbar-brand-img .avatar-img {
    transition: visibility 0.5s, opacity 0.5s, height 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    height: 0px;
}

.navbar-custom .navbar-brand-img-container {
    transition: visibility 0.5s, opacity 0.5s, height 0.5s ease-in-out;
    width: 75px;
}

.navbar-custom.top-nav-short .navbar-brand-img-container {
    transition: visibility 0.5s, opacity 0.5s, height 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    height: 0px;
}

.navbar-header a.navbar-brand:hover,
.navbar-header a.navbar-brand:focus {
  color: #0085a1;
}

.navbar-custom .nav li a {
    transition: font-size 0.5s ease;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}

.navbar-custom.top-nav-short .nav li a {
    transition: font-size 0.5s ease;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

ul.nav.navbar-nav.navbar-right {
    transition: margin-top 0.5s ease;
    margin-top: 20px;
}

.navbar-custom.top-nav-short ul.nav.navbar-nav.navbar-right {
    transition: margin-top 0.5s ease;
    margin-top: 5px;
}

footer {
    background: #12273c;
    border-top: 0px;
    padding: 10px 0;
}

footer a {
    color: #b6b6b6;
}

.pager li a {
    background: #afafaf;
}

/* content */
.notes-heading h2 {
    font-size: 26px;
    font-weight: 300;
}

.notes-heading h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.notes-heading h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 20px
}

.post-preview h2:focus,
.post-preview h2:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview h2 {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #b9b9b9;
}

.post-preview h3 {
    color: #b9b9b9;
}

.post-preview .post-title {
    font-size: 28px;
}

.post-preview .post-subtitle {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 20px
}

.post-preview {
    border-bottom: 5px dotted #183a5c;
}

@media screen and (min-width: 990px) {
    .post-preview .post-meta {
        margin-top: 20px;
        margin-left: 20px;
    }

    .notes-heading .post-meta {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 45px;
    }
}

.notes-heading .post-meta {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.post-preview a {
    color: #0085a1;
}

#recent-notes {
    font-size: 24px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: -10px;
}

blockquote {
    border-left: 8px solid #0085a1;
    background: #b0b0b0;
    color: #3a3a3a;
    font-style: italic;
}

.panel {
    background-color: #d0d0d0;
}

.panel-default {
    border-color: #7e7e7e;
}

div.panel-body a.list-group-item {
    color: #3a3a3a;
}

div.panel-group .panel {
    border-radius: 3px;
    margin: 3px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border-radius: 3px;
    background-color: #e1e1e1;
}

a.list-group-item:hover {
    background-color: #0086a17b
}

.blog-tags a {
    color: #0085a1;
}

body > div.container > div > div > article > ul > li > a {
    color: #0085a1;
}

.pager li>a {
    border: 0px;
}

#toggleDisplayMode.sun:hover {
    color: #f0c33c;
}

#toggleDisplayMode:hover {
    color: #6a6a6a;
}

figcaption > h4 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    color: #b9b9b9;
    margin: 5px;
}

.caption > h4 {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.pswp__caption__center {
    text-align: center;
}

figcaption > h4 {
    text-align: center;
}

.pager li a:hover {
    border: 0;
}

@media (max-width: 767px) {
    .navbar-brand-img-container .navbar-brand-img .avatar-img {
        width: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .top-nav-short .navbar-brand-img-container .navbar-brand-img .avatar-img {
        width: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.navbar-toggle {
    margin-top: 25px;
}

.top-nav-short .navbar-toggle {
    margin-top: 8px;
}

.highlight pre code {
    white-space: pre;
    overflow-x: auto;
}